/*Give the body a maximum width of 90%.
Then, center the body by playing with the margin property
Add a background image to your body
Make sure that the image does not repeat itself
Change its positioning to bottom right
Changes its size to cover*/

body{
	max-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Open Sans', sans-serif;
	background-image: url("../images/bg1.jpg");
	background-color: #cccccc;
	background-position: bottom right;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	color: darkred;
	font-weight: 500;
	word-spacing: 6px;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0;
    text-align: justify;
}

h2,summary{
	color:  black;
}

/*Using only the tag as a selector, 
italicize all quotations.*/
p > q{
	font-style: italic;
	font-weight: 600;
}
/*
- Change the color of the quotes
 according to the person speaking.
- Put the words "Bad" in red
 */
.badmood,.bad{
	color:#ff1e0f;
}
/*
Put the words "Good" in green*/
.happymood,.good{
	color: #00b900;
}
/*Select an element of the header and 
gives it a yellow background (use the child selector)*/
header>h1, header>em{
	background-color: yellow;
}
/*Capitalize all instances of the words "good" and "bad".*/
.good,.bad{
	text-transform: capitalize;
}

/*Style the table so that 
the background color of each row is alternating grey or white*/
table tbody tr:nth-child(2n){
	background-color: gray;
}
table tbody tr:nth-child(3n),
table tbody tr:first-child{
	background-color: white;
}
table{
	border: 2px solid darkred;
}
table th{
	background-color: #86eeff;
	padding: 15px;
}
thead, td{
	text-align: center;
}
td {
    padding: 20px;
   /* text-align: justify;*/
}

/*Put the first paragraph in bold*/
article p:first-child{
	font-weight: bold ;
}

/**/
.storyimage{
	float: left;
	margin: 0;
	margin-right:30px;
}
figcaption{
	color: black;
	font-style: italic;
    font-size: small;
}

/* footer display inline */
footer p{
	
	width: 100%;
}
footer p{
	width: 50%;
	display: inline-block;
}
footer p: first-child{
	float: left;
}
footer p:nth-child(2){
	float: right;
}